body {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  justify-content: center;
  display: block;
  position: relative;
  font-family: Quicksand;
  // background-color: mediumpurple;
  color: black;
}

body.first {
  section.logo {
    width: 18em;
    margin: 0 auto;
    text-align: center;
  }

  .button {
    width: 20em;
    margin: auto;
    text-align: center;
  }

  section.regis {
    margin: 0 auto;
    text-align: center;
    width: 20em;

    article {
      margin: 2em;
    }
  }

  form {
    padding-bottom: 2em;
    width: 20em;
    margin: auto;

    fieldset {
      border: solid white 0.12em;

      label {
        width: 100%;
        display: block;
        margin: 0.5em;
      }

      input {
        padding: 0.5em;
        width: 90%;
      }
    }
  }

  .meldaan {
    padding: 1.5em;
    border-radius: 1em;
    margin: 1em;
    position: relative;
    right: 0;
    display: block;
  }
}

body.swipe {
  width: 25em;

  .contain {
    width: 25em;
    height: 30em;
    // background-color: green;
    display: block;
    margin: 0 auto;
  }

  .picture {
    object-fit: scale-down;
    justify-content: center;
    display: block;
    margin: auto;
    height: 25em;
    background-color: white;
    width: 20em;
    transform: translateY(2em);
    z-index: -1;
    border-radius: 2em;
    border: solid mediumpurple 0.2em;

    img {
      max-height: 100%;
      max-width: 100%;
      margin-top: 4em;
    }
  }

  .containyesno {
    position: absolute;
    top: 4em;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .redo {
    width: 2em;
    height: 3em;
    margin: 2em;
    border-radius: 10em;
  }

  .no {
    width: 4em;
    height: 4em;
    border-radius: 10em;
  }

  .yes {
    height: 4em;
    border-radius: 30em;
  }
}

body.chatpage {
  width: 100%;
  overflow-x: hidden;

  section.profile {
    width: 100%;
    height: 50%;
    display: block;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  section.info {
    display: block;
    margin: 2em;
    text-align: left;
    width: 20em;
    position: relative;
  }

  .containyesno {
    top: 2em;
    position: relative;
    display: block;
    margin: 0 auto;
    right: 0.5em;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    .redo {
      width: 2em;
      height: 3em;
      margin: 2em;
      border-radius: 10em;
      float: left;
      position: relative;
      transform: translateX(6em) translateY(-5em);
    }

    .no {
      width: 4em;
      height: 4em;
      border-radius: 10em;
      float: left;
      position: relative;
      transform: translateX(6em)translateY(-4em);
    }

    .yes {
      height: 5em;
      position: relative;
      border-radius: 30em;
      transform: translateX(6em) translateY(-5em);
    }
  }
}
