<nav>
  <ul>
    <li><a href="/public/pages/list.html"><img src="/public/assets/logo/SVG/user.svg" alt="user"></a></li>
    <li><a href="/public/pages/Swipepage.html"><img src="/public/assets/logo/logo.svg" alt="jomelogo"></a></li>
    <li><a href="/public/pages/login_profile.html"><img src="public/assets/logo/SVG/chat.svg" alt="chatsvg"></a></li>
  </ul>
</nav>
