<nav>
  <ul>
    <li><a href="/profile"><img src="/assets/logo/SVG/user.svg" alt="user"></a></li>
    <li><a href="/feed"><img src="/assets/logo/logo.svg" alt="jomelogo"></a></li>
    <li><a href="../public/pages/chatmatch.html"><img src="/assets/logo/SVG/chat.svg" alt="chatsvg"></a></li>
  </ul>
</nav>
