<nav>
  <ul>
    <li><a href=""><img src="/assets/logo/SVG/user.svg" alt="user"></a></li>
    <li><a href="/feed"><img src="/assets/logo/logo.svg" alt="jomelogo"></a></li>
    <li><a href="pages/chatmatch.html"><img src="/assets/logo/SVG/chat.svg" alt="chatsvg"></a></li>
  </ul>
</nav>
