<!DOCTYPE html>
<html lang="en">

<head>
<% include ../partials/head %>
  <title>feedmatches</title>
</head>

<body class="feed">
<% include ../partials/navbar %>
  <h1>Matches for you</h1>
  <a href="/list" class="genrelink">Sarcastic</a>
  <div class="containfeed">
    <% for(var i = 0; i < data.length; i++)  {%>
    <section>
    <a href="/matchprofile/<%= data[i]._id %>">
      <div class="avatar">
        <img src="/upload/<%= data[i].file %>" alt="img">
      </div>
      <h2 class="addname"><%= data[i].name %> </h2>
    </a>
    </section>
    <% } %>
      </div>
    <script src="../js/index.js"></script>
</body>

</html>