<html>

    <% include ../partials/head %>

  <body class="one">
    <% include ../partials/navbar %>
    <h1> <% name %> </h1>
      <div class="containlogo">
        <section class="logo">
          <!-- <img src="./assets/logo/logo.svg" alt="logojome"> -->
          <img class="jomelogo" src="./public/assets/logo/jome.svg" alt="logojome">
          <p>True love through laughs</p>
        </section>
        <section class="tryme">
          <a href="/list">Try it </a>
        </section>
        <section class="button">
          <button class="registreren"><a href="/register">register</a></button>
          <button class="login">login</button>
        </section>
      </div>
  </body>
</html>
