<html>

    <% include ../partials/head %>

  <body class="one">
    <% include ../partials/navbar %>
    <h1></h1>
      <div class="containlogo">
        <section class="logo">
          <!-- <img src="./assets/logo/logo.svg" alt="logojome"> -->
          <img class="jomelogo" src="assets/logo/jome.svg" alt="logojome">
          <p>True love through laughs</p>
        </section>
        <section class="tryme">
          <a href="/register">Try it </a>
        </section>
        <section class="button">
          <a href="/register">register</a>
          <a href="/login">login</a>
        </section>
      </div>
      <% include tail.ejs %>
  </body>
</html>
