<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body class="list">
  <section>
    <h1>Jokes <span>I</span> enjoy</h1>
    <div class="category">
      <h2>Awkward</h2>
      <img src="assets/img/categorie/SocialAwk.jpg" alt="">
    </div>
    <div class="category">
      <a href="/feed">
        <h2>Sarcastic</h2>
        <img src="../assets/img/categorie/sarcastic.jpg" alt="">
      </a>
    </div>
    <div class="category">
      <h2>Cheesy</h2>
      <img src="../assets/img/categorie/cheesy.jpeg" alt="">
    </div>
    <div class="category">
      <h2>Dark</h2>
      <img src="../assets/img/categorie/darkhumor1.jpg" alt="">
    </div>
    <div class="category">
      <h2>Racist</h2>
      <img src="../assets/img/categorie/darkhumor.jpg" alt="">

    </div>
    <div class="category">
      <h2>Selfdeprecating</h2>
      <img src="../assets/img/categorie/self_dep.png" alt="">
    </div>
  </section>
  <% include tail.ejs %>
  <footer>
    <% include ../partials/navbar %>
  </footer>
</body>

</html>