<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<title>login</title>
<body class="login">
  <div class="containlogo">
    <section class="logo">
      <a href="/"><img class="jomelogo" src="/assets/logo/jome.svg" alt="logojome"></a>
      <p>True love through laughs</p>
    </section>

    <section class="reg">
      <h2>Log in</h2>
      <article class="">
        Om gebruik te maken van deze app dient u de volgende gegevens in te vullen.
      </article>
    </section>
    
  <form method="post">
    <fieldset>
      <label for="email">email</label>
      <input type="email" name="email" placeholder="abc@info.nl">
      <label for="wachtwoord">wachtwoord</label>
      <input type="password" name="password" placeholder="blabla">
    </fieldset>
    <button class="meldaan" type="submit">start looking</div>

  </form>
  
</body>
</html>