<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body class="meme_favorite">
  <% include ../partials/navbar %>
  <main>
    <form action="/profile/meme">
      <div>
        <img src="<%= memesrc %>" alt="">
      </div>
        <input type="submit">
    </form>
  </main>
  <% include tail.ejs %>
</body>

</html>