<!DOCTYPE html>
<html lang="en">

<head>
<% include ../partials/head %>
</head>
<body class="chatpage">
<% include ../partials/header %>

<section class="profile">
  <img src="public/assets/img/profile/testplaatje.jpeg" alt="profiel">
</section>

<div class="containyesno">
  <div class="no"><img src="/public/assets/logo/dislike.svg" alt=""></div>
  <div class="redo"><img src="/public/assets/logo/redo.svg" alt=""></div>
  <div class="yes">
    <img class="jomelogo" src="/public/assets/logo/like.svg" alt="logojome">
  </div>
</div>

<section class="info">
  <h2>
    Jessica Marilo
  </h2>
  <article>
    Soms verlies ik de tijd wanneer ik aan het scrollen ben door 9gag of twitter. Maar dat is niet erg, want ik lach veel!
  </article>
  <h3>laughs</h3>
  <article class="extrainfo">
    <ul>
      <li> Obscure/absurd</li>
      <li> Racial and sex jokes</li>
      <li> Dark</li>
    </ul>
  </article>
</section>
</body>
