<!DOCTYPE html>
<html lang="nl">

<% include ../partials/head %>
<body class="user">
  <% include ../partials/navbar %>

  <div class="user-prof">
    <div class="prof-cont">
      <% if (data.profilePic) { %>
      <img src="<%= data.profilePic %>" alt="img">
      <% } %>
    </div>
    <div><a href="/edit">edit</a></div>
    <div><a href="/logout">log out</a></div>
  </div>
  <section class="user-bio">
    <h1 id="username"><span id="age"><%= data.age%></span><%= data.name %></h1>
    <p>
      Soms verlies ik de tijd wanneer ik aan het scrollen ben door 9gag of twitter. Maar dat is niet erg, want ik lach veel!
    </p>
    <h2>Vrije tijd</h2>
    <p>

      Mijn vrijetijd besteeds ik graag buiten in de zon of sneeuw. Ik loop graag met mijn honden maar ik kan ook heel lang binnen blijven met mijn kat MIAUW.
    </p>
  </section>
  <h3>Your laughs</h3>
  <ul>
    <li> Obscure/absurd</li>
    <li> Sarcastic</li>
    <li> Dark</li>
  </ul>
  <label for="file">Add more</label>
  <form method="POST" enctype="multipart/form-data">  
    <input type='file' name='image' />
  </form>


<!-- https://www.freecodecamp.org/news/how-to-allow-users-to-upload-images-with-node-express-mongoose-and-cloudinary-84cefbdff1d9/ -->

  <div class="cont-meme">
    <div class="addmeme">
      <div class="sendmeme">
        <img src="/assets/img/memes/1.jpg" alt="">
      </div>
    </div>
    <div class="addmeme">
      <div class="sendmeme">
        <img src="/assets/img/categorie/sarcastic.jpg" alt="">
      </div>
    </div>
  </div>
  <div id="add">
    <a href=/add>add here</a> </div> <% include tail.ejs %>
    <a href="/delete" class="delete" type="submit" value="submit">Verwijder account</a>

</body>


</html>