<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>
<title>register</title>

<body class="regis">
  <div class="containlogo">
    <section class="logo">
      <!-- <img src="./assets/logo/logo.svg" alt="logojome"> -->
      <!-- <a href="../index.html"><img class="jomelogo" src="../assets/logo/jome.svg" alt="logojome"></a> -->
      <p>True love through laughs</p>
    </section>

    <section class="reg">
      <h2>Registreren</h2>
      <article class="">
        Om gebruik te maken van deze app dient u de volgende gegevens in te vullen.
      </article>
    </section>

    <form method="post" enctype="multipart/form-data" >
      <fieldset>
        <legend>Personal</legend>
        <label for="name">name</label>
        <input type="text" name="name" id="name" placeholder="Ruben" value="" required>
        <label for="age">birth</label>
        <input type="date" name="age" id="age" required>
        <label for="state">sex</label>
        <select id="state" name="state"  required>
          <option value="man">man</option>
          <option value="woman">woman</option>
        </select>

      </fieldset>
      <fieldset>
        <legend>Log-in</legend>
        <label for="email">email</label>
        <input type="email" name="email" id="email" placeholder="abc@gmail.com" value="" required>
        <label for="pass">password</label>
        <input type="password" name="password" id="pass" placeholder="****" value="" required>
        <label for="re-pass">repeat password</label>
        <input type="password" name="password" id="re-pass" placeholder="****" value="" required>
      </fieldset>
      <label for="file">Add picture</label>
      <input type="file" name="file" id="file" class="inputfile" accept=img/*>

      <button class="meldaan" type="submit">start looking</button>

    </form>

    <% include tail.ejs %>
</body>

</html>