<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>
<!-- <link rel="stylesheet" href="../css/form.css"> -->
<title>register</title>

<body class="regis">
  <div class="containlogo">
    <section class="logo">
      <!-- <img src="./assets/logo/logo.svg" alt="logojome"> -->
      <a href="/"><img class="jomelogo" src="../assets/logo/jome.svg" alt="logojome"></a>
      <p>True love through laughs</p>
    </section>

    <section class="reg">
      <h2>Registreren</h2>
      <article>
        Om gebruik te maken van deze app dient u de volgende gegevens in te vullen.
      </article>
    </section>
    <form method="POST" action="/register" enctype="multipart/form-data">
      <legend>Login</legend>
            <div class="name-form">

              <label for="name">naam</label>
              <i class="fas fa-user"></i>
              <input type="text" name="name" id="name" placeholder="naam" value="" required>
              <i class="fas fa-angle-right"></i>

            </div>
            <div class="age-form inactive">

              <label for="age">leeftijd</label>
              <i class="fas fa-birthday-cake"></i>
              <input type="number" name="age" id="age" placeholder="leeftijd" required>
              <i class="fas fa-angle-right"></i>
            </div>
            <div class="sex-form inactive">

              <label for="state">geslacht</label>
              <i class="fas fa-venus-mars"></i>
              <select id="state" name="state" required>
                <option value="choose" placeholder="man/vrouw">Kies geslacht</option>
                <option value="man" name="man">man</option>

                <option value="woman" name="woman">vrouw</option>

              </select>
              <i class="fas fa-angle-right"></i>
            </div>
            <div class="email-form inactive">
              <label for="email">email</label>
              <i class="fas fa-envelope"></i>
              <input type="email" name="email" id="email" placeholder="email" value="" required>
              <i class="fas fa-angle-right"></i>
            </div>

            <div class="pass-form inactive">
              <label for="pass">wachtwoord</label>
              <i class="fas fa-key"></i>
              <input type="password" name="password" id="pass" placeholder="****" value="" required>
              <i class="fas fa-angle-right"></i>

            </div>

            <div class="pass-form inactive">
              <label for="file">Kies profiel foto</label>
              <input type="file" name="profilePic" id="file" class="inputfile" accept=img/*> 
              <i class="fas fa-angle-right"></i>
            </div>
            <div class="pass-form2 inactive">
              <button class="meldaan" type="submit">begin met zoeken</button>
            </div>

    </form>

    <% include tail.ejs %>
    <script src="../js/form.js"></script>
</body>

</html>
