<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>
<title>register</title>

<body class="regis">
  <div class="containlogo">
    <section class="logo">
      <!-- <img src="./assets/logo/logo.svg" alt="logojome"> -->
      <a href="/"><img class="jomelogo" src="../assets/logo/jome.svg" alt="logojome"></a>
      <p>True love through laughs</p>
    </section>

    <section class="reg">
      <h2>Registreren</h2>
      <article>
        Om gebruik te maken van deze app dient u de volgende gegevens in te vullen.
      </article>
    </section>
    <form method="POST" action="/register" enctype="multipart/form-data">
      <fieldset>
        <legend>Personal</legend>
        <label for="name">name</label>
        <input type="text" name="name" id="name" placeholder="Ruben" value="" required>
        <label for="age">age</label>
        <input type="text" name="age" id="age" required>
        <label for="sex">sex</label>
        <select id="sex" name="sex"  required>
          <option value="man">man</option>
          <option value="woman">woman</option>
        </select>

      </fieldset>
      <fieldset>
        <legend>Log-in</legend>
        <label for="email">email</label>
        <input type="email" name="email" id="email" placeholder="abc@gmail.com" required>
        <label for="password">password</label>
        <input type="password" name="password" id="password" placeholder="****" required>
      </fieldset>
      <label for="profilePic">Add picture</label>
      <input type="profilePic" name="profilePic" id="profilePic" class="inputfile" accept=img/*>

      <button class="meldaan" type="submit">start looking</button>

    </form>

    <% include tail.ejs %>
</body>

</html>
